# Context:
During the events, the attendees would have a four minute "first date" with every other participant of the opposite sex. At the end of their four minutes, participants were asked if they would like to see their date again. They were also asked to rate their date on six attributes: Attractiveness, Sincerity, Intelligence, Fun, Ambition, and Shared Interests.

In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('Speed_Dating_Data_1.csv', encoding ='latin1')
df.head(20)

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
5,1,1.0,0,1,1,1,10,7,NaN,6,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
6,1,1.0,0,1,1,1,10,7,NaN,1,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
7,1,1.0,0,1,1,1,10,7,NaN,2,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
8,1,1.0,0,1,1,1,10,7,NaN,8,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
9,1,1.0,0,1,1,1,10,7,NaN,9,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
10,2,2.0,0,3,1,1,10,3,NaN,10,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
11,2,2.0,0,3,1,1,10,3,NaN,9,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
12,2,2.0,0,3,1,1,10,3,NaN,6,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
13,2,2.0,0,3,1,1,10,3,NaN,1,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
14,2,2.0,0,3,1,1,10,3,NaN,3,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
15,2,2.0,0,3,1,1,10,3,NaN,2,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
16,2,2.0,0,3,1,1,10,3,NaN,7,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
17,2,2.0,0,3,1,1,10,3,NaN,8,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
18,2,2.0,0,3,1,1,10,3,NaN,4,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
19,2,2.0,0,3,1,1,10,3,NaN,5,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN

In [12]:
df.describe()

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
count,8378.000000,8377.000000,8378.000000,8378.000000,8378.000000,8378.000000,8378.000000,8378.000000,6532.000000,8378.000000,...,3974.000000,3974.000000,3974.000000,3974.000000,3974.000000,2016.000000,2016.000000,2016.000000,2016.000000,2016.000000
mean,283.675937,8.960248,0.500597,17.327166,1.828837,11.350919,16.872046,9.042731,9.295775,8.927668,...,7.240312,8.093357,8.388777,7.658782,7.391545,6.810020,7.615079,7.932540,7.155258,7.048611
std,158.583367,5.491329,0.500029,10.940735,0.376673,5.995903,4.358458,5.514939,5.650199,5.477009,...,1.576596,1.610309,1.459094,1.744670,1.961417,1.507341,1.504551,1.340868,1.672787,1.717988
min,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,5.000000,1.000000,1.000000,1.000000,...,2.000000,2.000000,3.000000,2.000000,1.000000,2.000000,2.000000,4.000000,1.000000,1.000000
25%,154.000000,4.000000,0.000000,8.000000,2.000000,7.000000,14.000000,4.000000,4.000000,4.000000,...,7.000000,7.000000,8.000000,7.000000,6.000000,6.000000,7.000000,7.000000,6.000000,6.000000
50%,281.000000,8.000000,1.000000,16.000000,2.000000,11.000000,18.000000,8.000000,9.000000,8.000000,...,7.000000,8.000000,8.000000,8.000000,8.000000,7.000000,8.000000,8.000000,7.000000,7.000000
75%,407.000000,13.000000,1.000000,26.000000,2.000000,15.000000,20.000000,13.000000,14.000000,13.000000,...,8.000000,9.000000,9.000000,9.000000,9.000000,8.000000,9.000000,9.000000,8.000000,8.000000
max,552.000000,22.000000,1.000000,44.000000,2.000000,21.000000,22.000000,22.000000,22.000000,22.000000,...,12.000000,12.000000,12.000000,12.000000,12.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [18]:
df.describe().loc['count', :].sort_values(ascending=False)

iid         8378.0
position    8378.0
dec_o       8378.0
samerace    8378.0
match       8378.0
partner     8378.0
order       8378.0
dec         8378.0
round       8378.0
condtn      8378.0
idg         8378.0
gender      8378.0
wave        8378.0
id          8377.0
pid         8368.0
race        8315.0
race_o      8305.0
reading     8299.0
theater     8299.0
tv          8299.0
art         8299.0
clubbing    8299.0
gaming      8299.0
hiking      8299.0
museums     8299.0
concerts    8299.0
movies      8299.0
attr2_1     8299.0
music       8299.0
shopping    8299.0
             ...
intel4_3    2959.0
sinc4_3     2959.0
attr4_3     2959.0
attr2_3     2959.0
sinc2_3     2959.0
amb4_3      2959.0
fun2_3      2959.0
amb2_3      2959.0
shar4_3     2959.0
shar2_3     2016.0
sinc5_3     2016.0
attr5_3     2016.0
intel5_3    2016.0
fun7_3      2016.0
shar7_3     2016.0
amb7_3      2016.0
intel7_3    2016.0
sinc7_3     2016.0
fun5_3      2016.0
attr7_3     2016.0
amb5_3      2016.0
attr7_2     1984.0
intel7_2    1984.0
fun7_2      1984.0
shar7_2     1974.0
sinc7_2     1955.0
amb7_2      1955.0
expnum      1800.0
numdat_3    1496.0
num_in_3     668.0
Name: count, Length: 187, dtype: float64

In [27]:
df[['numdat_3', 'num_in_3']].quantile([0.05,0.1,0.15, 0.21, 0.25, 1])

      numdat_3  num_in_3
0.05       0.0       0.0
0.10       0.0       0.0
0.15       0.0       0.0
0.21       1.0       0.0
0.25       1.0       1.0
1.00       9.0       4.0

predict gender (dropping height and weight)
predict date or no date